@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --primary-color: #1d72e9;
  --secondary-color: #4b667a;
  --natural-: #081c2c;
  --natural-100: #d7d8e0;
  --natural-800: #0f2637;
  --natural-700: #163043;
  --hint-color: #727577;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: var(--font-family);
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

.border {
  padding: 10px 0;
  border-top: 1px var(--natural-100) solid;
}

.title {
  background: linear-gradient(
    90deg,
    var(--natural-) 0%,
    var(--primary-color) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-family: var(--font-family);
  font-weight: 700;
  text-align: center;
}

.title__description {
  color: #222222;
  font-size: 18px;
  width: 934px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 24px;
  padding: 30px 0;
  text-align: center;
  margin-left: 100px;
}

.downloads {
  margin: 30px 0;
}

.answer_title {
  color: var(--natural-);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 8px 0;
}

.question {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  margin: 5px 0;
  display: block;
}

.answer {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.question__answer {
  margin-bottom: 24px;
}

.answer_list {
  list-style-type: disc;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 25px;
}

@media (max-width: 1128px) {
  .container {
    max-width: 744px;
  }
  .title {
    font-size: 32px;
    font-weight: 700;
  }
  .title__description {
    width: 634px;
    font-size: 16px;
    margin-left: 55px;
  }
}

@media (max-width: 744px) {
  .container {
    max-width: 375px;
  }
  .title {
    font-size: 20px;
  }
  .title__description {
    font-style: 15px;
    width: 343px;
    margin-left: 10px;
  }
}
